@import "./variables.scss";
//@import "./orbits.scss";
@import "./team.scss";
@import "./frontend.scss";

@import "sky-toolkit-core/all";
@import "sky-toolkit-ui/all";
@import "./frontend/variables";
@import "./frontend/button";
@import "./frontend/tabs";
@import "./frontend/backend-searchbar";

.gradientText {
  background-clip: text;
  color: transparent !important;
}

.skyGradient {
  background-image: $skyGradient;
}

.pcGradient {
  background-image: $purpleCyanGradient;
}

.opGradient {
  background-image: $orangePinkGradient;
}

.gradientBackground {
  background-image: linear-gradient(
    90deg,
    #{$orange},
    #{$red},
    #{$purple},
    #{$blue},
    #{$lightBlue}
  );
}

.upperHeading {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

li {
  list-style: none;
  margin-left: 0;
}

.bulletImage {
  width: 2rem;
  height: 2rem;
}

.numbersHeading {
  margin-bottom: 0 !important;
  margin-top: 1rem !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.liNumbers {
  display: flex;
  align-items: center;
  .Text {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  sub {
    margin-left: 2.5px;
  }
}
