@import "./variables.scss";

.gradientText {
  background-image: linear-gradient(
    90deg,
    #{$orange},
    #{$red},
    #{$purple},
    #{$blue},
    #{$lightBlue}
  );
  background-clip: text;
  color: transparent !important;
}

.gradientBackground {
  background-image: linear-gradient(
    90deg,
    #{$orange},
    #{$red},
    #{$purple},
    #{$blue},
    #{$lightBlue}
  );
}

.upperHeading {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

li {
  list-style: none;
  margin-left: 0;
}

.bulletImage {
    width: 2rem;
    height: 2rem;
}